body{
    background:#d9e0ed;
}

.doctor-dashboard{
    width:90%;
    margin:40px auto;
}

.welcome-card{
    background:linear-gradient(135deg,#0d6efd,#0dcaf0);
    color:rgb(20, 17, 17);
    padding:40px;
    border-radius:15px;
    margin-bottom:40px;
    text-align:center;
}

.welcome-card h1{
    font-size:40px;
    margin-bottom:10px;
}

.welcome-card h4{
    margin-bottom:15px;
}

.dashboard-cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    width:280px;
    text-decoration:none;
    color:#333;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    text-align:center;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 20px rgba(0,0,0,.25);
}

.card h2{
    font-size:50px;
    margin-bottom:15px;
}

.card h4{
    color:#0d6efd;
    margin-bottom:10px;
}

.logout{
    background:#dc3545;
    color:rgb(19, 6, 6);
}

.logout h4{
    color:rgb(15, 9, 9);
}